<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<!--<link rel="stylesheet" type="text/css" href="../../../css/mui.picker.min.css"/>-->
<!--		<link rel="stylesheet" type="text/css" href="../../../css/mui.poppicker.min.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../css/new_file.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.picker.min.css"/>
		<style type="text/css">
			::-webkit-input-placeholder { /* WebKit browsers */
		　　color:#555;font-size: 16px;
		　　}
		　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		　　color:#555;font-size: 16px;
		　　}
		　　::-moz-placeholder { /* Mozilla Firefox 19+ */
		　　color:#555;font-size: 16px;
		　　}
		　　:-ms-input-placeholder { /* Internet Explorer 10+ */
		　　color:#555;
		font-size: 16px;
		　　}
		p{color: #333;padding-top: 10px;font-size: 16px;}
		.time{background:#fff !important;;}
		.ellipsis{
				margin: 0 15px 0 0;
				padding: 0 15px 0 0;
			}
		</style>
	</head>

	<body>
		<div id="root">
			
		
		<header class="mui-bar mui-bar-nav hrader">
		    <a class="mui-action-back black mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">{{guid}}</h1>
		    <span type="button" id='sear' class="mui-icon mui-icon-search mui-pull-right"style="color: #fff;font-weight: bold;"></span>
		</header>
		<div class="mui-content top">
			<div :style='activeFixed'style="    width: 100%;">
				<div class="mui-row">
					<div class="mui-col-sm-4 mui-col-xs-4 serach"style="padding-left: 15px;">
						<input type="text" id='danwei' class="form-control" placeholder="单位"readonly style="background:#fff!important;">
					</div>
					<div class="mui-col-sm-4 mui-col-xs-4 serach">
						<input id="bumen"  type="text" class="form-control" placeholder="部门" readonly style="background:#fff!important;">
					</div>
					<div class="mui-col-sm-4 mui-col-xs-4 serach"style="padding-right: 15px;">
						<input type="text"  id="jianchar" class="form-control" placeholder="创建人"readonly style="background:#fff!important;">
					</div>
				</div>
				<div class="mui-row">

					<div class="mui-col-sm-6 mui-col-xs-6"style="margin-top:10px;padding-left:15px;">
						<input type="text"data-options='{}'
							   onclick='getTime(this)'readonly='readonly' id="startTime"value="2017-01-01 01:01:01" class="datatime form-control time"style="background:#fff !important;" placeholder="请选择开始时间">
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6"style="padding-right: 15px;margin-top:10px;">
						<input type="text"data-options='{}'
							   onclick='getTime(this)'readonly='readonly' id="endTime" class="datatime form-control time"style="background:#fff !important;" placeholder="请选择结束时间">
					</div>
				</div>
			</div>
		<template v-if="author==='yjbzgl'">

			<ul class="mui-table-view":style='activeMargin'>
			        <li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
			            <a class="mui-navigate-right">
			            	<p class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
			                <p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
		    				
			            </a>
			        </li>
			    </ul>
		</template>
		<template v-else-if="author==='jjbgl'">
			<ul class="mui-table-view":style='activeMargin'>
			        <li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
			            <a class="mui-navigate-right">
			                <p  class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
		    				<p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
			            </a>
			        </li>
			    </ul>
		</template>
		<template v-else-if="author==='zxgd'">

			<ul class="mui-table-view":style='activeMargin'>
			        <li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
			            <a class="mui-navigate-right">
			            	<p class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
			                <p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
			            </a>
			        </li>
			    </ul>
		</template>
		<template v-else-if="author==='gzcllc1'">
			<ul class="mui-table-view":style='activeMargin'>
		        <li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
		            <a class="mui-navigate-right">
		            	<p class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
		                <p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
	    				
		            </a>
		        </li>
			</ul>
		</template>
		<template v-else-if="author==='sbxjjl1'">

			<ul class="mui-table-view":style='activeMargin'>
				<li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
					<a class="mui-navigate-right">
						<p class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
						<p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
					</a>
				</li>
			</ul>
		</template>
		<template v-else-if="author==='ddzdjc'">
			<!--调度终端检查记录-->
			<ul class="mui-table-view":style='activeMargin'>
		        <li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
		            <a class="mui-navigate-right">
		            	<p class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
		                <p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
		            </a>
		        </li>
			</ul>
		</template>
		<template v-else-if="author==='TestPro'">
			<!--保障联调测试-->
			<ul class="mui-table-view":style='activeMargin'>
				<li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
					<a class="mui-navigate-right">
						<p  class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
						<p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
					</a>
				</li>
			</ul>
		</template>
		<template v-else-if="author==='dqgsTest'">
				<!--地区联调测试-->
				<ul class="mui-table-view":style='activeMargin'>
					<li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
						<a class="mui-navigate-right">
							<p  class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
							<p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
						</a>
					</li>
				</ul>
			</template>
		<template v-else-if="author==='xcjszclc'">
			<ul class="mui-table-view":style='activeMargin'>
				<li class="mui-table-view-cell append"v-for="(item,index) in items" :data-id=item.processId>
					<a class="mui-navigate-right">
						<p class="mui-ellipsis ellipsis">标题:{{item.bizObj.title}}</p>
						<p class="mui-ellipsis ellipsis">创建时间:{{item.createTime}}</p>
					</a>
				</li>
			</ul>
		</template>
			<p v-if='items.length<1'style='position:absolute;top:50%;left:38%;font-size:20px;color:#8f8f94'> 暂无数据</p>
		</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/mui.dtpicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="../../../js/getTime.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../../../js/commissionListview.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="../../../js/map.js" type="text/javascript" charset="utf-8"></script>-->
		<!--<script>
	(function($, doc) {
		$.init();
		$.ready(function() {
			/**
			 * 获取对象属性的值
			 * 主要用于过滤三级联动中，可能出现的最低级的数据不存在的情况，实际开发中需要注意这一点；
			 * @param {Object} obj 对象
			 * @param {String} param 属性名
			 */
			 	window.addEventListener('get_detail',function(event){
			 mui.ajax("http://127.0.0.1:10261/itsm/rest/api/v2/acm/user/org",{
						dataType:'json',
						type:'get',
						success:function(res){
							var ni=[]
							for(var n in res.data){
								ni.push({
									text:res.data[n].name,
									id:res.data[n].id
								})
							}

					var userPicker = new $.PopPicker();
							userPicker.setData(ni);
							var showUserPickerButton = doc.getElementById('danwei');
							showUserPickerButton.addEventListener('tap', function(event) {
								userPicker.show(function(items) {
									showUserPickerButton.value = items[0].text;
									doc.getElementById('danwei').setAttribute('data',items[0].id)
									//返回 false 可以阻止选择框的关闭
									//return false;
								});
							}, false);
						},
						error:function(xhr,type,errorThrown){
							plus.nativeUI.closeWaiting();
							alert('错误'+xhr.status+type+errorThrown)
						}
				})
			var _getParam = function(obj, param) {
				return obj[param] || '';
			};
			//普通示例
})

		});
	})(mui, document);
</script>-->
		<!--<script>
	(function($, doc) {
		$.init();
		$.ready(function() {
			/**
			 * 获取对象属性的值
			 * 主要用于过滤三级联动中，可能出现的最低级的数据不存在的情况，实际开发中需要注意这一点；
			 * @param {Object} obj 对象
			 * @param {String} param 属性名
			 */
			  	window.addEventListener('get_detail',function(event){
			  	alert(danwei.getAttribute('data'))
					var userPicker = new $.PopPicker();
							var showUserPickerButton = doc.getElementById('bumen');
							var danwei = doc.getElementById('danwei');
							showUserPickerButton.addEventListener('tap', function(event) {

							if(danwei.getAttribute('data')==null){
								return false;
							}else{
								 mui.ajax("http://127.0.0.1:10261/itsm/rest/api/v2/acm/user/dept?orgId="+danwei.getAttribute('data'),{
								dataType:'json',
								type:'get',
								success:function(res){
									var ni=[]
									for(var n in res.data){
										ni.push({
											text:res.data[n].name,
											id:res.data[n].id
										})
									}
									userPicker.setData(ni);
								},
								error:function(xhr,type,errorThrown){
									plus.nativeUI.closeWaiting();
									alert('错误'+xhr.status+type+errorThrown)
								}
							})
							userPicker.show(function(items) {
									showUserPickerButton.value = items[0].text;
									doc.getElementById('bumen').setAttribute('data',items[0].id)
									//返回 false 可以阻止选择框的关闭
									//return false;
								});

					}

							}, false);

			var _getParam = function(obj, param) {
				return obj[param] || '';
			};
			//普通示例
})

		});
	})(mui, document);
</script>-->
		<!--<script type="text/javascript">
			mui.init()
			var vm=new Vue({
				el:"#root",
				data:{
					guid:'',
					dwmc:'',
					author:'xcjszclc',
					items:'',
					dw:[],
					activeFixed:{
						position:'fixed',
						paddingTop: '20px',
						background: '#fff',
						zIndex:99
					},
					activeMargin:{
						marginTop:'128px'
					}
				}
			})
			mui.plusReady(function(){
			var showUserPickerButton = document.getElementById('danwei');
							showUserPickerButton.addEventListener('tap', function(event) {
								var evt=event ||window.event
								evt.stopPropagation()
							document.getElementById('bumen').value=""
							document.getElementById('jianchar').value=""
							var userPicker = new mui.PopPicker();
							mui.ajax("http://127.0.0.1:10261/itsm/rest/api/v2/acm/user/org",{
						dataType:'json',
						type:'get',
						success:function(res){
							var ni=[]
							for(var n in res.data){
								ni.push({
									text:res.data[n].name,
									id:res.data[n].id
								})
							}
							userPicker.setData(ni);
								userPicker.show(function(items) {
									showUserPickerButton.value = items[0].text;
									document.getElementById('danwei').setAttribute('data',items[0].id)
									//返回 false 可以阻止选择框的关闭
									//return false;
									userPicker.dispose()
								});
						},
						error:function(xhr,type,errorThrown){
							plus.nativeUI.closeWaiting();
							alert('错误'+xhr.status+type+errorThrown)
						}
				})
					}, false);
				var bumen = document.getElementById('bumen');
				var danwei = document.getElementById('danwei');
					bumen.addEventListener('tap', function(event) {
					var evt=event ||window.event
					evt.stopPropagation()
					document.getElementById('jianchar').value=""
						var user = new mui.PopPicker();
						if(danwei.getAttribute('data')==null){
								return false;
							}else{
							 mui.ajax("http://127.0.0.1:10261/itsm/rest/api/v2/acm/user/dept?orgId="+danwei.getAttribute('data'),{
								dataType:'json',
								type:'get',
								success:function(res){
									var ni=[]
									for(var n in res.data){
										ni.push({
											text:res.data[n].name,
											id:res.data[n].id
										})
									}
									user.setData(ni);
								},
								error:function(xhr,type,errorThrown){
									plus.nativeUI.closeWaiting();
									alert('错误'+xhr.status+type+errorThrown)
								}
							})
								user.show(function(items) {
									bumen.value = items[0].text;
									document.getElementById('bumen').setAttribute('data',items[0].id)
									//返回 false 可以阻止选择框的关闭
									//return false;
									user.dispose()
								});
							}
							}, false);
var jianchar = document.getElementById('jianchar');
					jianchar.addEventListener('tap', function(event) {
					var evt=event ||window.event
								evt.stopPropagation()
						var user = new mui.PopPicker();
						if(bumen.getAttribute('data')==null){
								return false;
							}else{
							 mui.ajax("http://127.0.0.1:10261/itsm/rest/api/v2/acm/user/?deptId="+bumen.getAttribute('data'),{
								dataType:'json',
								type:'get',
								success:function(res){
									var ni=[]
									for(var n in res.data){
										ni.push({
											text:res.data[n].name,
											id:res.data[n].id
										})
									}
									user.setData(ni);
								},
								error:function(xhr,type,errorThrown){
									plus.nativeUI.closeWaiting();
									alert('错误'+xhr.status+type+errorThrown)
								}
							})
								user.show(function(items) {
									jianchar.value = items[0].text;
									document.getElementById('jianchar').setAttribute('data',items[0].id)
									//返回 false 可以阻止选择框的关闭
									//return false;
									user.dispose()
								});
							}
							}, false);


							window.addEventListener('refresh', function(e) {
//在父页面中添加监听事件，刷新页面
  	vm.items="";
    plus.nativeUI.showWaiting( '正在加载' )

					mui.ajax("http://127.0.0.1:10261/itsm/rest/api/v2/itsm/tickets/query/onhand?userId=admin&moduleId="+vm.author,{
						dataType:'json',
						type:'get',
						success:function(res){
							vm.items=res.ticket;
							setTimeout(function(){
								plus.nativeUI.closeWaiting()
							},500)
						},
						error:function(xhr,type,errorThrown){
							plus.nativeUI.closeWaiting();
							alert('错误'+xhr.status+type+errorThrown)
						}
					})



},false);





				window.addEventListener('get_detail',function(event){
					vm.guid=event.detail.guid;
					var author=event.detail.author;
					vm.author=author;
					plus.nativeUI.showWaiting( '正在加载' )

					mui.ajax("http://127.0.0.1:10261/itsm/rest/api/v2/itsm/tickets/query/onhand?userId=admin&moduleId="+vm.author,{
						dataType:'json',
						type:'get',
						success:function(res){
							vm.items=res.ticket;
							setTimeout(function(){
								plus.nativeUI.closeWaiting()
							},500)
						},
						error:function(xhr,type,errorThrown){
							plus.nativeUI.closeWaiting();
							alert('错误'+xhr.status+type+errorThrown)
						}
					})
				})

				webview_detail = mui.preload({
			        url: 'commissioneditor.html',
			        id: 'commissioneditor',
		    	});
				mui(".top").on("tap",".mui-table-view .append",function(e){
					mui.fire(webview_detail, 'get_detail', {
					    guid: vm.guid,
					    title:this.getAttribute('data-type'),
					    author:vm.author,
					    id:this.getAttribute('data-id')
					});
					mui.openWindowWithTitle({
				    url:'commissioneditor.html',
				    id:'commissioneditor',
				    createNew:false,//是否重复创建同样id的webview，默认为false:不重复创建，直接显示
				    show:{
				      autoShow:true,//页面loaded事件发生后自动显示，默认为true
				      aniShow:'slide-in-right',//页面显示动画，默认为”slide-in-right“；
				      //duration:animationTime,//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
				      event:'titleUpdate',//页面显示时机，默认为titleUpdate事件时显示
				      extras:{}//窗口动画是否使用图片加速
				    },
				    waiting:{
				      autoShow:true,//自动显示等待框，默认为true
				      title:'正在加载...',//等待对话框上显示的提示内容
					    }
				})
					 plus.nativeUI.showWaiting( '正在加载' )
				 setTimeout(function(){
			    	plus.nativeUI.closeWaiting()
			    },500)
				})


				mui.back = function() {
				plus.webview.currentWebview().hide("auto", 300);
				var self = plus.webview.currentWebview();
				self.addEventListener("hide",function (e) {
					vm.guid='',
					vm.dwmc='',
					vm.author='',
					vm.items='',
					document.getElementById('bumen').value="",
				document.getElementById('danwei').value="",
				document.getElementById('jianchar').value=""
				},false);
			}
			})
		</script>-->
	</body>

</html>